body {
  background-image: url('./FondoPelis.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.titulo {
  font-size: 5rem;
  margin: 20px 0;
  color: #b51dc0;
  border: none;
  padding: 10px 20px;
}

.favorites-title {
  font-size: 3rem;
  margin: 20px 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto; 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
  color: #ffffff;
  text-align: center;
}

/* Querys */
@media (max-width: 768px) {
  .titulo {
    font-size: 3rem;
  }

  .favorites-title {
    font-size: 2rem;
  }

  .container {
    padding: 15px;
    width: 95%;
  }

  .boton {
    font-size: 1.5rem;
    padding: 8px 16px;
  }
}