.button {
    background-color: #ff9933;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: #ff6b81;
}

.loading {
    font-size: 2.25rem;
    color: #ffff99;
    margin: 20px;
}

.names {
    font-size: 2.25rem;
    color: #ffffff;
    text-decoration: underline;
}

.info {
    font-size: 1.75rem;
}

.characters-gen {
    font-size: 1.75rem;
}

.characters-det {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(244, 11, 11, 0.3); 
    color: #ffffff;
    font-size: 1.35rem;
    line-height: 1.5;
    text-align: center;
}

.characters-det:hover {
    box-shadow: 0px 4px 8px #ff9933;
}

.characters-image {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 8px rgba(244, 11, 11, 0.3);
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* .character-image:hover {
    box-shadow: 0px 4px 8px #ff9933;
} */

.boton-filtros {
    background-color: #bc0bb6;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
}

.filtro {
    font-size: 1rem;
}

/* Querys */
@media (max-width: 768px) {
    .nombres {
      font-size: 1.5rem;
    }
  
    .info, .personajes-gen, .personajes-det {
      font-size: 1.2rem;
      padding: 10px;
    }
  
    .character-image {
      width: 80px;
    }
  
    .favs-detallado, .comics-detallado {
      width: 90%;
      margin: 0 auto;
    }
}